<!--
    Author: George Pappas
    Date: September 17, 2020
    Class: Software Engineering
    Project: Sprint 2 - Lab 2 - Azure Landing Page
    Description: This is the first version of my Azure Landing Page application and is being submitted as part of Lab 2.
-->

<!doctype html>
<html lang="en-US">

    <head>
        <meta charset="utf-8">
        <title>Landing Page - George Pappas</title>
        <link rel="stylesheet" href="/css/landing-page.css">
    </head>

    <!-- Back to top button -->
    <button onclick="topFunction()" id="topBtn" title="Go to top" class="rotate">Top</button>
    <script>
        var topButton = document.getElementById("topBtn");
        window.onscroll = function() {scrollFunction()};
            
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                topButton.style.display = "block";
            } else {
                topButton.style.display = "none";
            }
        }
            
        // Scrolls to the top of the page when the user presses the button.
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    <body>
        <!-- Header section. -->
        <h1>
            George's Landing Page for Software Engineering
        </h1>
        <hr>

        <!-- Sprint 1 section. -->
        <h2>
            Sprint 1 - Weeks 1 & 2
        </h2>
        <p>
            <!-- Link to website. -->
            <a href="/myfavoritehobby" target="_self">
                My Favorite Hobby - Web App
            </a>
            <br>
            <a href="https://github.com/GeorgeWPappas/My-Favorite-Hobby" target="_blank">
                My Favorite Hobby - GitHub
            </a>
        </p>
        <hr>

        <!-- Sprint 2 section. -->
        <h2>
            Sprint 2 - Weeks 3 & 4
        </h2>
        <p>
            <!-- Link to website. -->
            <a href="/diceroller" target="_self">
                Dice Roller - Web App
            </a>
            <br>
            <a href="https://github.com/GeorgeWPappas/Dice-Roller" target="_blank">
                Dice Roller - GitHub
            </a>
            <br>
            <br>
            <a href="/syllabus" target="_self">
                Course Syllabus - Web App
            </a>
            <br>
            <a href="https://github.com/GeorgeWPappas/Course-Syllabus" target="_blank">
                Course Syllabus - GitHub
            </a>
            <br>
            <br>
            <a href="/regexp" target="_self">
                RegExp Tester - Web App
            </a>
            <br>
            <a href="https://github.com/GeorgeWPappas/RegExp-Tester" target="_blank">
                RegExp Tester - GitHub
            </a>
        </p>
        <hr>

        <!-- Sprint 3 section. -->
        <h2>
            Sprint 3 - Weeks 5 & 6
        </h2>
        <p>
            <!-- Link to website. -->
            <a href="/helloworld" target="_self">
                Hello World on Node.js - Web App
            </a>
            <br>
            <a href="https://github.com/GeorgeWPappas/Node-JS-Hello-World" target="_blank">
                Hello World on Node.js - GitHub
            </a>
        </p>
        <hr>

        <!-- Sprint 4 section. -->
        <h2>
            Sprint 4 - Weeks 7 & 8
        </h2>
        <p>
            Sprint 4 Placeholder
        </p>
        <hr>

        <!-- Sprint 5 section. -->
        <h2>
            Sprint 5 - Weeks 9 & 10
        </h2>
        <p>
            Sprint 5 Placeholder
        </p>
        <hr>

        <!-- Sprint 6 section. -->
        <h2>
            Sprint 6 - Weeks 11 & 12
        </h2>
        <p>
            Sprint 6 Placeholder
        </p>
        <hr>

        <!-- Sprint 7 section. -->
        <h2>
            Sprint 7 - Weeks 13 & 14
        </h2>
        <p>
            Sprint 7 Placeholder
        </p>
        <hr>

        <!-- Sprint 8 section. -->
        <h2>
            Sprint 8 - Weeks 15 & 16
        </h2>
        <p>
            Sprint 8 Placeholder
        </p>
        <hr>

        <!-- Closing section. -->
        <h3>
            Thank you for visiting!
        </h3>

    </body>
</html>
